@tailwind base;
@tailwind components;
@tailwind utilities;

.px-global {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .px-global {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .px-global {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.my-global {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .my-global {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .my-global {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
